html {
  background-color: #e2e2e2;
}

body {
  margin: 2em auto;
  max-width: 35em;

  background-color: #fff;
  border: 1px solid #ccc;
}

section {
  padding: 4em 1em;
  position: relative;

  border-bottom: 1px solid #ccc;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
  height: 100px;
  top: calc(50% - 50px);
  width: 200px;
  background-color: limegreen;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  opacity: 1;
}

.diamond {
  height: 80px;
  right: 2em;
  top: calc(50% - 40px);
  width: 80px;
  background-color: hotpink;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.js-diamond-move 
    -webkit-transform: translateX(-145px) rotate(45deg);
    transform: translateX(-145px) rotate(45deg);
}

.panel {
  width: 250px;
  top: 50%;
  background-color: yellow;
  transform: translateY(-50%);
  color: darkgoldenrod;
  text-align: center;
  max-height: 8em;
  overflow: hidden;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.js-panel-expand {
  max-height: 0;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.panel h2 {
  margin: 0;
  padding: 3rem 0;
}

.circle {
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;
  background-color: orange;
  border-radius: 50%;
}

.js-circle-bounce {
  -webkit-animation: circle-bounce 1s linear;
  animation: circle-bounce 1s linear;
}

@-webkit-keyframes circle-bounce {
  0% {right: 30px; top: calc(50% - 40px);}
  20% {right: 60px; top: calc(50% - 50px);}
  40% {right: 90px; top: calc(50% - 40px);}
  60% {right: 120px; top: calc(50% - 50px);}
  80% {right: 150px; top: calc(50% - 40px);}
  100% {right: 180px; top: calc(50% - 50px);}
}

@keyframes circle-bounce {
  0% {right: 30px; top: calc(50% - 40px);}
  20% {right: 60px; top: calc(50% - 50px);}
  40% {right: 90px; top: calc(50% - 40px);}
  60% {right: 120px; top: calc(50% - 50px);}
  80% {right: 150px; top: calc(50% - 40px);}
  100% {right: 180px; top: calc(50% - 50px);}
}

.list {
  bottom: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 250px;
  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
}

.list li {
  padding: 0.5em;
  background-color: plum;
  border: 1px solid mediumpurple;
  color: mediumpurple;
  overflow: hidden;
  opacity: 1;
}

.js-list-append {
  -webkit-animation: btn-append 1s linear;
  animation: btn-append 1s linear;
}

@-webkit-keyframes btn-append {
  0% {max-height: 0;}
  100% {max-height: 2em;}
}

@keyframes btn-append {
  0% {max-height: 0;}
  100% {max-height: 2em;}
}