html {
  background-color: #e2e2e2;
}

body {
  margin: 2em auto;
  max-width: 35em;
  background-color: #fff;
  border: 1px solid #ccc;
}

section {
  padding: 4em 1em;
  position: relative;
  border-bottom: 1px solid #ccc;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
  height: 100px;
  top: calc(50% - 50px);
  width: 200px;
  opacity: 0;
  background-color: limegreen;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.js-show-hide {
  opacity: 1;
}

.sect-diamond {
  overflow: hidden;
}

.diamond {
  height: 80px;
  right: -10em;
  top: calc(50% - 40px);
  width: 80px;
  background-color: hotpink;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.js-move {
    right: 2rem;
}

.panel {
  width: 250px;
  top: 50%;
  background-color: yellow;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: darkgoldenrod;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.panel h2 {
  margin: 0;
  max-height: 0;
  padding: 4rem 0;
}

.js-expand {
    max-height: 100%;
}

.ball {
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;
  border-radius: 50%;
  background-color: orange;
}

.js-ball-bounce {
  -webkit-animation: ball-bounce 750ms linear;
  animation: ball-bounce 750ms linear;
}

@-webkit-keyframes ball-bounce {
  0% {
    top: calc(50% - 50px);
    right: 0;
  }
  50% {
    top: calc(50% - 25px);
    right: 4rem;
  }
  75% {
    top: calc(50% - 50px);
    right: 6.6rem;
  }
  87.5% {
    top: calc(50% - 30px);
    right: 8.4rem;
  }
  93.3% {
    top: calc(50% - 50px);
    right: 9.6rem;
  }
  96.5% {
    top: calc(50% - 40px);
    right: 10.4rem;
  }
  100% {
    top: calc(50% - 50px);
    right: 10.5rem;  
  }
}

@keyframes ball-bounce {
  0% {
    top: calc(50% - 50px);
    right: 0;
  }
  50% {
    top: calc(50% - 25px);
    right: 4rem;
  }
  75% {
    top: calc(50% - 50px);
    right: 6.6rem;
  }
  87.5% {
    top: calc(50% - 30px);
    right: 8.4rem;
  }
  93.3% {
    top: calc(50% - 50px);
    right: 9.6rem;
  }
  96.5% {
    top: calc(50% - 40px);
    right: 10.4rem;
  }
  100% {
    top: calc(50% - 50px);
    right: 10.5rem;  
  }
}

.list {
  bottom: 1rem;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 250px;
  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
}

.list li {
  padding: 0.5rem;
  background-color: plum;
  border: 1px solid mediumpurple;
  color: mediumpurple;
  overflow: hidden;
  opacity: 1;
}

.js-li-append {
  -webkit-animation: list-append 200ms linear;
  animation: list-append 200ms linear;
}

@-webkit-keyframes list-append {
  0% {
    max-height: 0rem;
  }
  100% {
    max-height: 2rem;
  }
}

@keyframes list-append {
  0% {
    max-height: 0rem;
  }
  100% {
    max-height: 2rem;
  }
}